@model IEnumerable<BookStoreCatalog_web.Models.DTO.BookModelDTO>
@{
    ViewData["Title"] = "IndexBook";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>IndexBook</h1>
<div class= "container p-4 border">
    <div class=" = "row pb-2">
        <div class=" col">
            <h1 class="text-primary"> Book List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Book" asp-action="CreateBook" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>New Book</a>
        </div>

    </div>
    <table class= "table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>BookID</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@((item.Id).ToString("c"))</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.idBook</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-controller="Book" asp-action="UpdateBook" class="btn btn-success"><i class="bi bi-pencil-square"></i>Update Book</a>
                        <a asp-controller="Book" asp-action="DeleteBook" class="btn btn-danger"><i class="bi bi-trash3"></i>Delete Book</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

